<footer>
  <span />
  <p>Copyright © 2023 Shu Hirouchi</p>
</footer>

<style>
footer {
  max-width: 48rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

span {
  width: 100%;
  border-top: 1px solid var(--shadow);
  box-shadow: 1px 1px 1px var(--white);
}

p {
  color: var(--shadow);
  margin: 2rem 0;
}
</style>
